@import url('https://fonts.googleapis.com/css2?family=Joan&family=Roboto+Mono:wght@300&family=Roboto+Slab:wght@300&display=swap');


/*
 * colors
 * dkblu: #095194
 * ltblu: #389FFF
 * mdblu: #1B81E0
 * dkgld: #945C00
 * ltgld: #E0951B
 */

 body{
  font-family: 'Joan', serif;
  font-family: 'Roboto Mono', monospace;
  font-family: 'Roboto Slab', serif;
 }

 form {
  border: 1px solid gray;
}
header {
  font-size: 1.5rem;
  color: white;
  text-align: center;
  padding: 10px 0;
}
form {
  background-color: #dbdbdb;
  color: rgb(32, 32, 32);
}
label {
  display: flex;
  flex-direction: column;
}
input, select {
  box-sizing: border-box;
  margin-bottom: .5rem;
}
ol {
  margin: 0;
  padding: 0 1rem;
}
button {
  width: 80%;
  background-color: #00705c;
  color: white;
  font-weight: 900;
  height: 3rem;
  cursor: pointer;
  font-size: 14pt;
}
button:hover {
  background-color: #389FFF;
}
@media print {
  @page { margin: 0; }
  body { margin: 1.6cm; }
  header, footer, form {
    display: none;
  }
  .display-cv {
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%, -0%);
    border: none;
  }
}
.app {
  display: flex;
  gap: 5px;
  padding-top: 5px;
  justify-content: center;
}
.section-border {
  border-bottom: 1px solid #00000063;
  padding: 1rem;
}
.section-title {
  font-weight: 900;
  color: #00705c;
}
.button-cont {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 15px 0;
}